<html> 
<head> 
	<title>Vesselin Petkov</title> 
	<link rel="alternate" type="application/rss+xml" href="/feed.rss"/> 
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
	<meta http-equiv="content-language" content="bg" /> 
	<link rel="shortcut icon" href="favicon.png" />	
	<link rel="stylesheet" type="text/css" href="style.css" media="screen" /> 
</head> 
<body> 
	<div id="body"> 
		<a href="/"><h1>BLOG TITLE</h1></a> 
		<div id="wrapper"> 
			<div id="content"> 
				<div class="entry"> 
